:root {
  --white-color: #e5e5e5;
  --blue-color: #2a71fd;
  --profile-shadow-blue-color: #2a70fd4f;
  --gray-blue-color: #585a72;
  --active-chat-color : #2a71fd;

  --chat-status: #585a72;
  --chat-icon-color: #003eff;
  --chat-border-color: #282635;
  --main-background-color: #211f2c;
  --sec-background-color: #252331;
  --person-one-chat-background-color: #2a71fd;
  --person-two-chat-background-color: #343145;
  --profile-box-shadow: 0px 5px 25px var(--profile-shadow-blue-color);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
.active{
    background: var(--active-chat-color) !important;
}
/* app */
.app {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  background-color: var(--main-background-color);
}

/* nav-user-section */
.nav-user-section {
  width: 15%;
  height: 100%;

  background-color: var(--sec-background-color);
}
/* logo */
.logo {
  text-align: center;
  padding: 25px 0px 25px 0px;
  border-bottom: 1px solid var(--gray-blue-color);
}
.logo > a {
  color: var(--gray-blue-color);
  text-transform: uppercase;
}
/* user-profile */
.user-profile {
  text-align: center;
  padding: 20px 0px 20px 0px;
}
/* user-img */
.user-img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid var(--chat-icon-color);
  box-shadow: var(--profile-box-shadow);
}
/* user-name */
.user-name {
  color: var(--white-color);
}
/* user-desc */
.user-desc {
  color: var(--gray-blue-color);
  font-size: 0.8rem;
  margin-bottom: 20px;
}
/* actions */
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
}
.actions > button > svg {
  color: var(--blue-color);
}
/* nav-navigation-bar */
.nav-navigation-bar {
  padding: 0px 20px 0px 20px;
}
.nav-navigation-bar > li {
  display: flex;
  align-items: center;

  padding: 15px 0px 10px 0px;
}
.nav-navigation-bar > li:hover {
  background: var(--blue-color);
  cursor: pointer;
}
.space {
  border-bottom: 1px solid var(--gray-blue-color);
  margin-bottom: 15px;
}
.nav-navigation-bar > li > svg {
  color: var(--gray-blue-color);
  margin-right: 10px;
}
.nav-navigation-bar > li > p {
  color: var(--gray-blue-color);
}

/* chat-container */
.chat-container {
  width: 85%;
  height: 100%;
}
/* chat-header */
.chat-header {
  width: 100%;
  height: 12%;

  padding-top: 20px;
  padding-left: 40px;
}

.chat-title {
  color: var(--white-color);
  display: inline-block;
  margin-right: 20px;
}
.new-message-button {
  color: var(--chat-icon-color);
  border: 2px solid var(--chat-icon-color);
  padding: 5px;
  border-radius: 10px;
}
/* chat-box */
.chat-box {
  width: 100%;
  height: 88%;

  display: flex;
  align-items: center;
}
/* chats */
.chats {
  width: 30%;
  height: 100%;
}
.chat-container {
  width: 100%;
  height: 100%;
  padding: 0px 15px 0px 20px;
}
.search-chat {
  width: 100%;

  display: flex;
    align-items: center;
}
.input-container{
    width: 90%;
}
.search-input {
  width: 100%;
  position: relative;
  padding: 10px 5px 10px 35px;
  border-radius: 5px;
  color: var(--white-color);
  background: none;
  border: none;
}
.search-input:focus {
  outline: none;
  border: 2px solid var(--chat-icon-color);
}

.search-input::placeholder {
  color: var(--gray-blue-color);
}
.search-icon {
  position: absolute;
  z-index: 99;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-left: 10px;
  color: var(--gray-blue-color);
}
.search-setting{
    width: 10%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: var(--gray-blue-color);
}
/* chat list */
.list-chat{
    width: 100%;
}
.chat-items{
    width: 100%;
    padding: 10px;
    background: var(--sec-background-color);
    border-radius: 5px;
    margin: 10px 0px 10px 0px;

    display: flex;
    align-items: center;

}
.friend-img-container{
    width: 15%;
    margin-right: 10px;
    /* display: inline-block; */
}
.friend-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.friend-datas{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friend-name{
    color: var(--white-color);
}
.friend-desc{
    color: var(--gray-blue-color);
}
.time{
    color: var(--gray-blue-color);
}























/* current-chat */
.current-chat {
  width: 70%;
  height: 100%;
  padding: 0px 30px 30px 0px;
}
/* current-chat-container */
.current-chat-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--sec-background-color);
}
.current-chat-profile-and-actions{
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-bottom: 2px solid var(--gray-blue-color);
    display: flex;
    align-items: center;
}
.current-chat-img-and-name{
    width: 100%;

    display: flex;
    align-items: center;
}
.current-container > h5{
    color: var(--white-color);
}
.current-container > p{
    color: var(--gray-blue-color);
}
.current-chat-img{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px;
}
.current-chat-actions{
    display: flex;
    align-items: center;
}
.current-chat-actions > button{
    margin-right: 20px;
    color: var(--chat-icon-color);
}

/* chat-input */
.current-chat-container{
    position: relative;
}
.input-container{
    width: 80%;
}
.chat-input{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gray-blue-color);
}
.main-input{
    width: 100%;
    background: none;
    border: none;
    padding: 20px;
}
.main-input-buttons{
    width: 20%;
}
.main-input-buttons > button{
    color: var(--chat-icon-color);
    margin-right: 5px;
}